.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    /* transition: all 1s 2s; */
    

}

.padre:hover .hijo {
    /* transform: translateY(100%);
    background-color: aqua; */
    animation: traslacion 4s infinite forwards ;
    
}

@keyframes traslacion {
    0% {
        background-color: brown;
        transform: translateX(0%) translateY(0%);
    }
    
    25% {
        transform: translateX(100%) translateY(0%);
    }

    50% {
        background-color: bisque;
        transform: translateX(100%) translateY(100%);
  
    }

    75% {
        transform: translateX(0%) translateY(100%);
    }

    100% {
        background-color: blueviolet;
        transform: translateX(0%) translateY(0%);
    }

}