body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.btn-tooltip {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: gray;
    color: aliceblue;
    border: none;
    border-bottom: 3px solid darkgray;
    cursor: pointer;
    transition: background-color 300ms;
}

.btn-tooltip:hover {
    background-color: antiquewhite;
    color: black;
    border-bottom: 3px solid grey;
}